DATABASE_URL="postgresql://user:password@localhost:5432/mallsport"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
ALLOWED_EMAIL_DOMAIN="capitaladvisors.cl"
GCP_PROJECT_ID=""
GCP_REGION="southamerica-west1"
CLOUD_SQL_INSTANCE=""
GCS_BUCKET_NAME=""
